<!-- Navbar Component -->
<header class="navbar">
  <div class="logo">
    <a href="index.html">
      <img src="images/ourLogo.png" alt="BrandStore Logo" class="logo-img" />
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="index.html">Home</a></li>
    <li class="dropdown-container">
      <a href="products.html" class="dropdown-toggle"
        >Products <i class="fas fa-chevron-down"></i
      ></a>
      <div class="dropdown-menu">
        <a href="mens-products.html">Men</a>
        <a href="womens-products.html">Women</a>
        <a href="childrens-products.html">Children</a>
      </div>
    </li>
    <li><a href="contactus.html">Contact Us</a></li>
    <li><a href="about.html">About</a></li>
    <li>
      <a href="cart.html" id="cart-icon">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-count">0</span>
      </a>
    </li>
  </ul>
  <div class="user-menu">
    <i class="fas fa-user user-icon" id="userIcon"></i>
    <div class="dropdown" id="userDropdown">
      <a href="loginuser.html">Login</a>
      <a href="signup.html">Sign Up</a>
    </div>
  </div>
</header>
